.header {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  border: 1px solid black;
}

.logo {
  width: 200px;
  margin: 4px;
}

.nav-item > ul {
  display: flex;
  list-style-type: none;
}

.nav-item > ul > li {
  padding: 10px;
  margin: 10px;
}

.rest-card {
  padding: 5px;
  width: 193px;
  margin: 4px;
  color: black;
}

.rest-card:hover {
  border: 1px solid black;
  cursor: pointer;
}

.rest-logo {
  width: 100%;
}

.search {
  padding: 10px;
}

.rest-container{
    display: flex;
    flex-wrap: wrap;
}

.filter-btn{
  margin: 10px;
}

.shimmer-card{
  margin: 10px;
  background-color: #f0f0f0;
  width: 200px;
  height: 300px;
}
.shimmer-container{
  display: flex;
  flex-wrap: wrap;
}
.login{
  padding: 0 20px;
  cursor: pointer;
  border: none;
  background: none;
  
}
.filter{
  display: flex;
}